<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProxyVyV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--No usar Tildes y letras Ñ o ñ en appSettings-->
  <appSettings>
    <add key="PRISMServerIP" value="127.0.0.1" />
    <add key="PRISMProxyPort" value="32001" />
    <add key="PRISMProxyLinkName" value="VyVProxy" />
    <add key="PRISMProxyVersion" value="1.0" />
    <add key="PRISMProxyDeveloperID" value="001" />
    <add key="PRISMProxyCustomizationID" value="002" />
    <add key="PINPADBaudRate" value="115200" />
    <add key="PINPADCOMPorNumber" value="1" />
    <add key="PINPADTimeOut" value="60000" />
    <add key="PRISMURL" value="INGRESAR URL" />
    <add key="PRISMUser" value="sysadmin" />
    <add key="PRISMPwd" value="sysadmin" />
    <add key="ModoDebugCompleto" value="true" />
    <add key="OPapikey" value="" />
    <add key="OPsecret" value="" />
    <add key="OPLogPath" value="C:\temp" />
    <add key="OPambiente" value="D" />
    <add key="DTEVyV_FechaResol" value="FECHA RESOLUCION" />
    <add key="DTEVyV_ACTECO" value="ACTIVIDAD ECONOMICA EMISOR" />
    <add key="DTEVyV_CDGSIISUCUR" value="CODIGO SII SUCURSAL" />
    <add key="DTEVyV_NumResol" value="NUM RESOLUCION" />
    <add key="DTEVyV_Direccion_tienda" value="DIRECCION TIENDA" />
    <add key="DTEVyV_NombreClientedefault" value="CLIENTE BOLETA" />
    <add key="DTEVyV_RutReceptordefault" value="RUT RECEPTOR" />
    <add key="DTEVyV_GiroClientedefault" value="PERSONA NATURAL" />
    <add key="DTEVyV_TasaIVA" value="19" />
    <add key="DTEVyV_Impresora" value="IMPRESORA" />
    <add key="DTEVyV_SII" value="SANTIAGO ORIENTE" />
    <add key="DTESignature_Server" value="127.0.0.1" />
    <add key="DTESignature_Port" value="11000" />
    <add key="DTESignature_NombreClientedefault" value="CLIENTE BOLETA" />
    <add key="DTESignature_GiroClientedefault" value="PERSONA NATURAL" />
    <add key="DTESignature_TasaIVA" value="19" />
    <add key="DTESignature_RutReceptordefault" value="66666666-6" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="DTEDbNet_StoreURL" value="http://INFPRDDBNET01:4016" />
    <add key="DTEDbNet_StoreIdPrefijo" value="STORE-SILFA" />
    <add key="DTEDbNet_PosIdPrefijo" value="POS-" />
    <add key="DTEDbNet_RutEmisor" value="76171658-1" />
    <add key="DTEDbNet_RznSocEmi" value="COMERCIAL E INDUSTRIAL SILFA S.A" />
    <add key="DTEDbNet_ACTECO" value="513990" />
    <add key="DTEDbNet_Direccion" value="SAN IGNACIO 0201" />
    <add key="DTEDbNet_Comuna" value="SANTIAGO" />
    <add key="DTEDbNet_Ciudad" value="SANTIAGO" />
    <add key="DTEDbNet_Giro" value="VENTA AL POR MAYOR DE OTROS ENSERES DOMESTICOS N.C.P." />
    <add key="DTEDbNet_Telefono" value="55555555" />
    <add key="DTEDbNet_NombreClientedefault" value="CLIENTE BOLETA" />
    <add key="DTEDbNet_RutReceptordefault" value="66666666-6" />
    <add key="DTEDbNet_GiroClientedefault" value="PERSONA NATURAL" />
    <add key="DTEDbNet_TasaIVA" value="19" />



  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.114.0" newVersion="1.0.114.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ProxyVyV.Properties.Settings>
      <setting name="ProxyVyV_DteLocalVyV_DTELocal" serializeAs="String">
        <value>http://bes-cert.bestechnology.cl/WSFactLocal/DteLocal.asmx</value>
      </setting>
      <setting name="ProxyVyV_cl_facturacion_ws_wsplano" serializeAs="String">
        <value>http://ws.facturacion.cl/WSDS/wsplano.asmx</value>
      </setting>
      <setting name="ProxyVyV_DteGetOneWS_GOServicePortService" serializeAs="String">
        <value>http://10.244.229.41:9191/ws/GOService</value>
      </setting>
      <setting name="ProxyVyV_DteFacele_DoceleOL" serializeAs="String">
        <value>https://caoba.docele.cl:443/cl-dol/DoceleOLService</value>
      </setting>
    </ProxyVyV.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>